.wrapper {
  background-image: url(../../assets/MeshBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#btn {
  width: 200px;
  height: 70px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  #btn {
    width: 250px;
    height: 100px;
    padding: 1px;
  }
}
