.signIn_wrapper {
  width: 500px;
  height: 700px;
}
#signIn_btn {
  width: 100%;
}

.password {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.password_alert {
  color: rgb(128, 128, 128);
}
